/* line 4, btn-social.scss */
.btn-shared-social {
  width: 30px;
  height: 30px;
  display: inline-block;
  transition: all .2s ease-in-out;
}
/* line 9, btn-social.scss */
.btn-shared-social:hover {
  cursor: pointer;
}

/* line 14, btn-social.scss */
.btn-shared-facebook {
  background: url(../images/icon/social/facebook-hover-left.png);
  background-position: 100% 0;
}
/* line 17, btn-social.scss */
.btn-shared-facebook:hover {
  background-position: 0 0;
}

/* line 21, btn-social.scss */
.btn-shared-googleplus {
  background: url(../images/icon/social/googleplus-hover-left.png);
  background-position: 100% 0;
}
/* line 24, btn-social.scss */
.btn-shared-googleplus:hover {
  background-position: 0 0;
}

/* line 28, btn-social.scss */
.btn-shared-pinterest {
  background: url(../images/icon/social/pinterest-hover-left.png);
  background-position: 100% 0;
}
/* line 31, btn-social.scss */
.btn-shared-pinterest:hover {
  background-position: 0 0;
}

/* line 35, btn-social.scss */
.btn-shared-twitter {
  background: url(../images/icon/social/twitter-hover-left.png);
  background-position: 100% 0;
}
/* line 38, btn-social.scss */
.btn-shared-twitter:hover {
  background-position: 0 0;
}

/* line 42, btn-social.scss */
.btn-shared-email {
  background: url(../images/icon/social/email-hover-left.png);
  background-position: 100% 0;
}
/* line 45, btn-social.scss */
.btn-shared-email:hover {
  background-position: 0 0;
}
