/* line 3, coupon.scss */
.spinner-none input[type=number]::-webkit-outer-spin-button,
.spinner-none input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 11, coupon.scss */
.docbox:hover {
  cursor: pointer;
}
/* line 14, coupon.scss */
.docbox .select {
  position: absolute;
  right: 17px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
/* line 20, coupon.scss */
.docbox .select input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
/* line 23, coupon.scss */
.docbox .select input[type=checkbox] + label {
  color: transparent;
}
/* line 26, coupon.scss */
.docbox .select input[type=checkbox]:checked + label {
  color: #5cb85c;
  text-align: center;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
}
/* line 34, coupon.scss */
.docbox .select input[type=checkbox]:checked + label i {
  font-size: 25px;
}

/* line 46, coupon.scss */
.form-group .back-label {
  padding-top: 7px;
  margin-bottom: 0;
}
