h1,h2,h3,h4 {
	font-family: 'ThaiSansNeue-bold';
	color: #244c7d;
}

.interview-box{
	margin: 15px;

	.prime{

	}
}
.interview-img{
	margin: 15px;
	img{
		width: 100%;
	}
	.sub{
		height: 250px;
		width: auto !important;
	}
}
.darkblue{
	color: #244c7d;
}
.green{
	color: #26a65b;
}
.ken{
	.first{
		.cover{
			margin-bottom: 15px;
			img{
				width: 100%;
				text-align: right;
				background: #F8F3ED;
			}
		}
	}
}