/* line 3, product.scss */
.mobile-aleart {
  display: none;
}

/* line 8, product.scss */
#campaign-show-detail #campaign-description #designer {
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
/* line 12, product.scss */
#campaign-show-detail #campaign-description #designer #user-link {
  text-decoration: none;
}
/* line 14, product.scss */
#campaign-show-detail #campaign-description #designer #user-link .profile-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48), 0 0 0 1px rgba(0, 0, 0, 0.14), 0 0 0 8px white;
  box-shadow: inset 0 0 0 -2px rgba(255, 255, 255, 0.48), 0 0 0 1px rgba(0, 0, 0, 0.14), 0 0 0 8px white;
}
/* line 25, product.scss */
#campaign-show-detail #campaign-description #designer #user-link .profile-circle img {
  width: 100%;
}
/* line 30, product.scss */
#campaign-show-detail #campaign-description #designer .view {
  float: right;
  color: #989898;
  margin-right: 5px;
}
/* line 34, product.scss */
#campaign-show-detail #campaign-description #designer .view span {
  font-size: 12px;
}

@media (min-width: 481px) {
  /* line 44, product.scss */
  .th-value {
    width: 100px;
  }

  /* line 47, product.scss */
  .th-total {
    width: 100px;
  }

  /* line 50, product.scss */
  .order-remove {
    display: none;
  }

  /* line 53, product.scss */
  #mobile-campaign-count {
    display: none;
  }

  /* line 56, product.scss */
  #campaign-img {
    max-height: 600px;
  }

  /* line 59, product.scss */
  #campaign-show-detail {
    word-wrap: break-word;
  }
  /* line 64, product.scss */
  #campaign-show-detail #campaign-description #head-group-designer p img {
    max-width: 100%!important;
    height: auto !important;
    max-height: 800px;
  }
  /* line 72, product.scss */
  #campaign-show-detail #campaign-description .wrapper {
    margin-bottom: 10px;
    clear: both;
  }

  /* line 81, product.scss */
  #comment {
    margin-top: 0px;
  }

  /* line 91, product.scss */
  .modal .modal-body #order-table tr .th-size {
    width: 80px;
  }

  /* line 97, product.scss */
  #basket {
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  /* line 102, product.scss */
  .mobile-aleart {
    display: block;
  }

  /* line 105, product.scss */
  #campaign-name {
    padding: 0 15px;
    margin-bottom: 0px;
  }

  /* line 109, product.scss */
  #campaign-img {
    margin-bottom: 15px;
    padding: 15px;
    max-height: 650px;
  }

  /* line 114, product.scss */
  #campaign-show-detail {
    padding: 15px;
  }

  /* line 117, product.scss */
  #service-detail {
    background: #f7f7f7;
    padding: 15px 0;
  }

  /* line 121, product.scss */
  #comment {
    padding: 0 15px;
  }

  /* line 124, product.scss */
  .mobile-hidden {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 129, product.scss */
  .mobile-aleart {
    display: block;
  }

  /* line 132, product.scss */
  #campaign-name {
    padding: 0 15px;
    margin-bottom: 0px;
  }

  /* line 136, product.scss */
  #campaign-img {
    margin-bottom: 15px;
    padding: 15px;
    max-height: 650px;
  }

  /* line 141, product.scss */
  #campaign-show-detail {
    padding: 15px;
  }

  /* line 144, product.scss */
  #service-detail {
    background: #f7f7f7;
    padding: 15px 0;
  }

  /* line 148, product.scss */
  #comment {
    padding: 0 15px;
  }

  /* line 151, product.scss */
  .mobile-hidden {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 156, product.scss */
  .mobile-aleart {
    display: block;
  }

  /* line 159, product.scss */
  #campaign-name {
    text-align: center;
  }

  /* line 162, product.scss */
  #campaign-count {
    display: none;
  }

  /* line 165, product.scss */
  #mobile-campaign-count {
    background: #f5f5f5;
    color: #555;
    height: 75px;
    padding: 15px;
    text-align: center;
  }
  /* line 171, product.scss */
  #mobile-campaign-count .col-xs-2, #mobile-campaign-count .col-xs-3, #mobile-campaign-count .col-xs-4, #mobile-campaign-count .col-xs-5, #mobile-campaign-count .col-xs-6, #mobile-campaign-count .col-xs-12 {
    padding: 0px;
  }
  /* line 174, product.scss */
  #mobile-campaign-count p {
    margin: 0 0 5px;
  }
  /* line 177, product.scss */
  #mobile-campaign-count .p-end {
    font-size: 18px;
    vertical-align: middle;
    line-height: 45px;
  }
  /* line 182, product.scss */
  #mobile-campaign-count .m-detail {
    color: #26a8df;
  }
  /* line 184, product.scss */
  #mobile-campaign-count .xs-menu {
    border-left: 1px solid #ddd;
  }
  /* line 186, product.scss */
  #mobile-campaign-count .xs-menu .text-warnning {
    color: #de5b25;
  }
  /* line 190, product.scss */
  #mobile-campaign-count .xs-menu:first-child {
    border-left: none;
  }

  /* line 194, product.scss */
  #campaign-img {
    margin-bottom: 15px;
    padding: 15px;
  }

  /* line 198, product.scss */
  #campaign-show-detail {
    padding: 15px;
  }
  /* line 201, product.scss */
  #campaign-show-detail #campaign-description {
    padding: 0px;
  }
  /* line 205, product.scss */
  #campaign-show-detail #campaign-description #head-group-designer p img {
    max-width: 100% !important;
    height: auto !important;
  }
  /* line 211, product.scss */
  #campaign-show-detail #campaign-description .share-wrapper {
    height: 80px;
  }
  /* line 213, product.scss */
  #campaign-show-detail #campaign-description .share-wrapper #wish {
    display: block;
    float: left;
    width: 100%;
  }
  /* line 218, product.scss */
  #campaign-show-detail #campaign-description .share-wrapper .social-wrapper {
    float: left;
  }

  /* line 224, product.scss */
  #service-detail {
    padding: 15px;
    margin-top: 0px;
    background: #f7f7f7;
  }

  /* line 229, product.scss */
  #comment {
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  /* line 233, product.scss */
  #comment .box-comment {
    background: #fff;
  }
  /* line 235, product.scss */
  #comment .box-comment #message {
    width: 95%;
  }
  /* line 238, product.scss */
  #comment .box-comment #btn-post {
    margin-top: 10px;
  }
  /* line 242, product.scss */
  #comment .post {
    background: #f7f7f7;
  }

  /* line 250, product.scss */
  .carousel .carousel-fit {
    position: relative;
  }
  /* line 252, product.scss */
  .carousel .carousel-fit .slide {
    overflow: hidden;
  }
  /* line 255, product.scss */
  .carousel .carousel-fit .next {
    bottom: 0;
  }
  /* line 258, product.scss */
  .carousel .carousel-fit .prev {
    bottom: 0;
  }
  /* line 261, product.scss */
  .carousel .carousel-fit .item {
    text-align: center;
  }
  /* line 263, product.scss */
  .carousel .carousel-fit .item img {
    display: inline-block;
  }
  /* line 266, product.scss */
  .carousel .carousel-fit .item .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* line 276, product.scss */
  .modal .modal-dialog .modal-content {
    /* background:none; */
  }
  /* line 281, product.scss */
  .modal .modal-body #order-table {
    font-size: 12px;
  }
  /* line 284, product.scss */
  .modal .modal-body #order-table tr td {
    padding: 2px;
  }
  /* line 286, product.scss */
  .modal .modal-body #order-table tr td .size-select {
    padding: 2px;
  }
  /* line 289, product.scss */
  .modal .modal-body #order-table tr td .select-product {
    padding: 2px;
  }
  /* line 292, product.scss */
  .modal .modal-body #order-table tr td .order-remove {
    text-align: center;
  }
  /* line 294, product.scss */
  .modal .modal-body #order-table tr td .order-remove a {
    color: #e67e22;
  }
  /* line 302, product.scss */
  .modal .modal-body #order-table tr .th-value {
    width: 60px;
  }
  /* line 305, product.scss */
  .modal .modal-body #order-table tr .th-total {
    width: 60px;
  }

  /* line 315, product.scss */
  .modal.modal-fullscreen {
    /* Maximize the main wrappers on the screen */
    /* Make the parent wrapper of the modal box a full-width block */
    /* Remove borders and effects on the content */
    /**
       * /!\ By using this feature, you force the header and footer to be placed
       * in an absolute position. You must handle by yourself the margin of the
       * content.
       */
  }

  /* line 326, product.scss */
  .modal.modal-fullscreen .modal-dialog,
  .modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  /* line 335, product.scss */
  .modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
  }

  /* line 339, product.scss */
  .modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    background: rgba(0, 0, 0, 0.4);
  }

  /* line 349, product.scss */
  .modal.modal-fullscreen.force-fullscreen {
    /* Remove the padding inside the body */
  }

  /* line 352, product.scss */
  .modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
  }

  /* line 356, product.scss */
  .modal.modal-fullscreen.force-fullscreen .modal-header,
  .modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
    border-radius: 0px;
  }

  /* line 362, product.scss */
  .modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
  }

  /* line 365, product.scss */
  .modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
  }

  /* line 369, product.scss */
  .mobile-hidden {
    display: none;
  }

  /* line 373, product.scss */
  .modal-fullscreen .modal-header {
    border-radius: 0px;
  }
  /* line 376, product.scss */
  .modal-fullscreen .modal-body {
    background: #fff;
  }

  /* line 381, product.scss */
  .box {
    margin: 5px;
  }

  /* line 384, product.scss */
  .box-noneborder {
    border: none !important;
  }

  /* line 387, product.scss */
  .box-nonepad-top {
    padding-top: 0px;
  }

  /* line 390, product.scss */
  .box-nonepad-bottom {
    padding-bottom: 0px;
  }

  /* line 393, product.scss */
  .mobile-login-first {
    padding-left: 10px;
  }

  /* line 397, product.scss */
  #btn-submit {
    width: 100%;
  }
}
/*end device max-width: 480px*/
