/* line 5, search.scss */
.main {
  padding-top: 0px;
}
@media (max-width: 991px) {
  /* line 5, search.scss */
  .main {
    margin-top: 0px;
  }
  /* line 9, search.scss */
  .main .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 15, search.scss */
.col-mobile {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 19, search.scss */
.btn-filter {
  color: #3498db;
  border: none;
  background: transparent;
}
/* line 23, search.scss */
.btn-filter:hover {
  color: #2980b9;
}

/* line 27, search.scss */
.search-menu {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px 0 12px 0;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 36, search.scss */
.search-menu .header {
  padding-top: 6px;
  display: inline-block;
  font-weight: bold;
}
/* line 41, search.scss */
.search-menu .group-left {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 46, search.scss */
.search-menu .group-right {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 50, search.scss */
.search-menu .group-right #filter-view {
  padding: 9px;
}
/* line 53, search.scss */
.search-menu .group-right #btn-filter {
  border-left: 1px solid #ddd;
  padding: 6px 12px 6px 6px;
}
/* line 56, search.scss */
.search-menu .group-right #btn-filter i {
  margin-right: 5px;
}

/* line 64, search.scss */
.filter {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  width: 100%;
  display: none;
}
/* line 71, search.scss */
.filter .filter-wrapper {
  background: #fff;
  width: 300px;
  height: 100%;
  top: 53px;
  box-shadow: 0px 3px 20px #555;
}
/* line 77, search.scss */
.filter .filter-wrapper .filter-title {
  background: #fff;
  padding: 10px;
  color: #333;
}
/* line 81, search.scss */
.filter .filter-wrapper .filter-title .close {
  color: #555;
  opacity: 0.8;
}
/* line 84, search.scss */
.filter .filter-wrapper .filter-title .close span {
  color: #555;
  font-size: 35px;
  font-weight: 100;
  text-shadow: none;
}
/* line 94, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  line-height: 35px;
}
/* line 99, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item label {
  font-weight: 500;
  display: inline-block;
}
/* line 103, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item select {
  width: 70%;
  float: right;
}
/* line 107, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item .pointer {
  color: #3498db;
}
/* line 110, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item:hover {
  cursor: pointer;
}
/* line 114, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item .input-price input {
  width: 88px;
  padding: 6px 12px;
  line-height: 20px;
  display: inline-block;
}
/* line 123, search.scss */
.filter .filter-wrapper .filter-body .list-group .list-group-item .btn-begin {
  width: 45%;
}
/* line 128, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color {
  min-height: 100px;
}
/* line 130, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color .color-list {
  float: right;
  width: 70%;
}
/* line 133, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color .color-list .color-select {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 0px;
  display: inline-block;
  text-align: center;
  border: 2px solid #eee;
}
/* line 142, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color .color-list .color-select .fa {
  color: transparent;
}
/* line 145, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color .color-list .color-select.check {
  border: 2px solid #FFA500;
}
/* line 147, search.scss */
.filter .filter-wrapper .filter-body .list-group #list-group-color .color-list .color-select.check .fa {
  color: transparent;
}

/* line 158, search.scss */
.filter.in {
  background: rgba(0, 0, 0, 0.8);
}
